absl-py==1.4.0
accelerate==0.24.1
affine==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
aiosqlite==0.19.0
altair==5.1.2
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Augmentor==0.2.12
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.6.3
Brotli==1.1.0
cachetools==5.3.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.5
comm==0.1.3
contourpy==1.0.5
cycler==0.11.0
dataclasses-json==0.5.9
datasets==2.14.5
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.6
entrypoints==0.4
evaluate==0.4.1
executing==1.1.1
faiss-cpu==1.7.4
fastjsonschema==2.16.2
filelock==3.12.0
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.37.3
frozenlist==1.3.3
fsspec==2023.6.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.21.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.3
h5py==3.9.0
html5lib==1.1
huggingface-hub==0.16.4
idna==3.4
imageio==2.31.1
imgaug==0.4.0
importlib-metadata==5.2.0
inflate64==1.0.0
ipykernel==6.23.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.10
jsonpath-ng==1.5.3
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_ai==0.8.0
jupyter_ai_magics==0.8.0
jupyter_client==7.4.2
jupyter_core==5.3.1
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.3
keras==2.13.1
kiwisolver==1.4.4
langchain==0.0.159
lazy_loader==0.3
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
multivolumefile==0.2.3
mypy-extensions==1.0.0
mysql-connector-python==8.0.32
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.4.12
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.23.3
oauthlib==3.2.2
openai==0.27.8
openapi-schema-pydantic==1.2.4
opencv-python==4.8.0.74
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.5.3
ply==3.11
preprocessor==1.1.3
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf>=3.11.0
psutil==5.9.2
pure-eval==0.2.2
py7zr==0.20.6
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybcj==1.0.2
pycparser==2.21
pycryptodomex==3.19.0
pydantic==1.10.10
pydeck==0.8.1b0
Pygments==2.13.0
pyparsing==3.0.9
pyppmd==1.0.0
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
pyzstd==0.15.9
qtconsole==5.3.2
QtPy==2.2.1
rasterio==1.3.8
ray==2.4.0
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.6.0
rouge-score==0.1.2
rsa==4.9
safetensors==0.3.3
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.0
seaborn==0.12.2
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sklearn==0.0.post1
smmap==5.0.1
sniffio==1.3.0
snscrape==0.6.2.20230320
snuggs==1.4.7
soupsieve==2.3.2.post1
SQLAlchemy==2.0.17
stack-data==0.5.1
statsmodels==0.13.5
streamlit==1.27.2
sympy==1.12
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.16.0
textblob==0.17.1
texttable==1.7.0
threadpoolctl==3.1.0
tifffile==2023.7.4
tiktoken==0.4.0
tinycss2==1.1.1
tokenizers==0.14.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.4.0
transformers==4.34.0
tweepy==4.14.0
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.1
urllib3==1.26.12
validators==0.22.0
virtualenv>=20.0.24
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.3.6
widgetsnbextension==4.0.3
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.15.0
